<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="me.rainvisitor.ap_common_plugin">

    <application>
        <receiver android:name=".CourseAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/course_appwidget_info" />
        </receiver>
    </application>
</manifest>
